
@{
    ViewBag.Title = "Car Customs";
}

<h2>Ваша завка обработана в автоматическом режиме! В скорем времени с вами свяжется администратор.</h2>

<p>
    @Html.ActionLink("Начальная страницы", "Index")
</p>